.site-header {
	position:           absolute;
	left:               0;
	right:              0;
	z-index:            999;
	box-shadow:         0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	&.affix {
		position: fixed;
	}
}

.navigation-menu {
	padding-top: 16px;
	background:  #fff;
	@include transition(all .3s ease-in-out);
}

.header_main_menu_wrapper .navbar-collapse {
	padding: 0;
}

.navigation-menu {
	.wrapper-top-logo {
		text-align:    center;
		position:      relative;
		font-size:     18px;
		margin-bottom: 15px;
		.header-search, .top-social {
			position: absolute;
			bottom:   5px;
			left:     15px;
			right:    auto;
		}
		.top-social {
			left:  auto;
			right: 10px;
			a {
				margin: 0 5px;
			}
		}
	}

	.logo-area {
		display: inline-block;
		a {
			font-size:   40px;
			font-weight: 600;
			line-height: 50px;
		}
	}
}

// search
.search-toggler-unit {
	.search-toggler {
		display:  block;
		padding:  1px;
		overflow: hidden;
		cursor:   pointer;
	}
}

.search-overlay {
	position:   fixed;
	width:      100%;
	height:     100%;
	top:        0;
	left:       0;
	right:      0;
	@include transition(all .3s ease);
	@include transform(scale(0.8));
	visibility: hidden;
	opacity:    0;
	.background-overlay {
		width:      100%;
		height:     100%;
		background: rgba(0, 0, 0, 0.9);
		position:   absolute;
		z-index:    99;
	}
	&.search-show {
		visibility: visible;
		opacity:    1;
		z-index:    9999;
		@include transform(scale(1));
	}
	.closeicon {
		position: fixed;
		right:    3%;
		top:      16px;
		width:    32px;
		height:   32px;
		opacity:  1;
		z-index:  999;
		cursor:   pointer;
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:before, &:after {
			position:         absolute;
			left:             15px;
			content:          ' ';
			height:           33px;
			width:            1px;
			background-color: white;
		}
	}
	.search-form {
		width:      100%;
		text-align: center;
		display:    inline-block;
		position:   fixed;
		top:        40%;
		left:       0;
		z-index:    999;
		input:focus {
			outline: none;
		}
		.search-field {
			width:          400px;
			height:         60px;
			line-height:    60px;
			border:         1px solid #ddd;
			padding:        0 15px;
			font-weight:    normal;
			font-size:      16px;
			vertical-align: middle;
		}

		.search-submit {
			display:        none;
			border:         none;
			height:         60px;
			line-height:    60px;
			width:          60px;
			margin-left:    -6px;
			color:          #333;
			@include transition(all .2s ease);
			vertical-align: middle;
			&:hover {
				color: #fff;
			}
		}
		.font-awesome {
			font: normal normal normal 18px/1 FontAwesome;;
		}
	}
}

.custom_bg_sticky {
	&.affix-top {
		.logo_home_page_custom_sticky {
			display: none;
		}
	}
	&.affix {
		.logo_home_page {
			display: none;
		}
	}
}