/******************cherck list ********************/
.single-post {
	.post-content {
		.entry-title {
			margin-top:    25px;
			margin-bottom: 5px;
		}
		.entry-meta {
			margin-top:    10px;
			margin-bottom: 25px;
			opacity:       0.8;
			span, div, .posted-on {
				display:      inline-block;
				margin-right: 25px;
				position:     relative;
				&:after {
					content:  "|";
					position: absolute;
					right:    -15px;
					top:      0;
				}
			}
			.post-share {
				margin-right: 0;
				&:after {
					display: none;
				}
				a {
					margin-right: 15px;
					&:after {
						margin-right: 0;
					}
				}
			}
			.posted-on {
				color:       #ababb2;
				font-weight: 700;
			}
			.byline {
				color: #ababb2;
				a {
					color: #000;
				}
			}
		}
		.tags-links {
			opacity: 0.8;
		}
	}
	.post-formats-wrapper {
		position: relative;
		z-index:  1;
	}
	.post-author {
		@include clearfix();
		border-top:    1px solid $border_color;
		padding:       35px 0;
		margin-bottom: 35px;
		border-bottom: 1px solid $border_color;
		.author-avatar {
			width:         90px;
			overflow:      hidden;
			float:         left;
			margin-right:  20px;
			border-radius: 50%;
			border:        5px solid $border_color;
		}
		.author-content {
			overflow: hidden;
			h5 {
				text-transform: uppercase;
				font-weight:    700;
			}
		}
	}
	.navigation.post-navigation {
		border-top: none;
		margin-top: 0;
	}
}

.full-content-single {
	margin-top: -2px;
	border:     2px solid $border_color;
	padding:    20px 40px;
	position:   relative;
	.post-content {
		padding-left: 100px;
		min-height:   280px;
		p {
			font-size: 1.1em;
		}
		.entry-meta > span:last-child {
			&:after {
				display: none;
			}
		}
	}
	.left-content-single {
		position: absolute;
		width:    60px;
		top:      65px;
		.share-block {
			display:       inline-block;
			text-align:    center;
			width:         100%;
			border:        1px solid $border_color;
			overflow:      hidden;
			border-bottom: none;
			a {
				display:       block;
				height:        60px;
				line-height:   60px;
				font-size:     18px;
				border-bottom: 1px solid $border_color;
				&.comment-number {
					background-color: #080810;
					color:            #fff;
					font-size:        22px;
				}
				.fa-facebook {
					color: #3b5999;
				}
				.fa-twitter {
					color: #55acee;
				}
				.fa-pinterest {
					color: #bd081c;
				}
			}
		}
	}

}

.element-fixed {
	.full-content-single {
		.left-content-single {
			position: fixed;
			top:      0;
		}
	}
}

.admin-bar {
	.element-fixed {
		.full-content-single {
			.left-content-single {
				top: 32px;
			}
		}
	}
}

.element-abs-bottom {
	.full-content-single {
		.left-content-single {
			top:    auto;
			bottom: 30px;
		}
	}
}

.post-related {
	.related-title {
		margin-top:     0;
		padding-bottom: 5px;
		margin-bottom:  30px;
		border-bottom:  2px solid;
		display:        inline-block;
	}
}

.comments-area {
	margin-top: 15px;
	.comment-list {
		margin:     0;
		list-style: none
	}
	.comments-title {
		margin-bottom: 25px;
	}
	.comment-list-inner {
		.comments-title {
			padding:       10px 0;
			margin-bottom: 25px;
			border-bottom: 1px #ddd solid
		}
		.comment-author.meta {
			color: #b3b3b3;
			strong {
				color: #000
			}
		}
		.comment-list > li, .children > li {
			list-style:    none outside none;
			margin-bottom: 25px
		}
		.comment-respond {
			background:    #f2f2f2;
			padding:       15px;
			margin-bottom: 30px;
			position:      relative;
			&:before {
				content:       "";
				width:         0;
				height:        0;
				border-left:   10px solid transparent;
				border-right:  10px solid transparent;
				border-bottom: 12px solid #f2f2f2;
				position:      absolute;
				left:          20px;
				top:           -12px;
			}
		}
	}
}

.comments-area .comment-list-inner li {
	&.pingback {
		margin-bottom: 10px;
	}
	.wrapper-comment {
		overflow: hidden
	}
	.wrapper_avatar {
		width:  60px;
		height: 60px;
		float:  left;
		.avatar {
			border-radius: 50%
		}
	}
	.comment-right {
		width: calc(100% - 60px);
		width: -webkit-calc(100% - 60px);
		width: -moz-calc(100% - 60px);
		float: left
	}
	.comment-awaiting-moderation {
		margin-left: 20px
	}
	.comment-extra-info {
		padding-left:   20px;
		text-transform: uppercase;
		color:          #858585;
		font-size:      12px;
		a {
			color: #858585
		}
		i {
			margin-right: 5px
		}
		.author, .date, .comment-edit-link {
			float:        none;
			display:      inline-block;
			margin-right: 15px
		}
		.comment-reply-link {
			float: right;
			color: #858585
		}
	}
	.content-comment {
		padding: 10px 0 15px 20px
	}
	.children {
		padding-top: 15px;
		margin-left: 60px;
		li {
			list-style: none
		}
	}

}

.comments-area .comment-respond {
	.comment-form-author, .comment-form-email, .comment-form-url {
		width:   50%;
		display: block;
		input {
			width:              100%;
			border:             1px solid $border_color;
			padding:            8px 15px;
			border-radius:      0;
			-webkit-appearance: none;
			-moz-appearance:    none;
			&:focus {
				outline:      none;
				border-color: #ccc;
			}
		}
	}

	textarea {
		width:              100%;
		border:             1px solid $border_color;
		padding:            8px 15px;
		height:             150px;
		display:            inherit;
		border-radius:      0;
		-webkit-appearance: none;
		-moz-appearance:    none;
		&:focus {
			outline:      none;
			border-color: #ccc;
		}
	}
	.form-submit {
		text-align: left;
		input#submit {
			@include transition(all 0.3s ease-out);
			text-shadow:    none;
			box-shadow:     none;
			border:         none;
			padding:        8px 30px;
			line-height:    2;
			color:          #fff;
			font-size:      0.9em;
			font-weight:    700;
			background:     #222;
			border-radius:  0;
			text-transform: uppercase;
			width:          auto;
			&:focus {
				outline: none;
			}
		}
	}
}

.page-headers {
	text-align:     center;
	padding-bottom: 25px;
	.entry-title-page {
		margin-top:     0;
		text-transform: uppercase;
		position:       relative;
		&:after {
			content:     "";
			width:       50px;
			height:      2px;
			border:      1px solid;
			position:    absolute;
			left:        50%;
			margin-left: -25px;
			bottom:      -15px;;
		}
	}
}

.page .feature-image {
	margin-bottom: 20px;
}

input, select, textarea {
	border:     1px solid $border_color;
	color:      #888;
	padding:    9px 10px;
	width:      100%;
	box-sizing: border-box;
}

.wpcf7-form {
	label {
		font-weight: normal;
		display:     block;
	}
	input, select {
		max-width: 300px;
	}
	input, select, textarea {
		margin-top: 6px;
	}
	p {
		color:         #888;
		font-style:    italic;
		margin-bottom: 18px;
	}
	textarea {
		width: 100%;
	}
	.wpcf7-submit {
		font-style:     normal;
		text-transform: uppercase;
		border:         none;
		padding:        10px 40px;
		color:          #fff;
		background:     #173d4f;
		width:          auto;
	}
}